<div *ngIf="!auth.user" class="container">
  <form>
    <fieldset>
      <legend>Login</legend>
      <div class="mb-3">Email</div>
      <input
        placeholder=" Coloque seu email aqui"
        type="text"
        name="email"
        [(ngModel)]="email"
        class="form-control"
      />
      <div class="mb-3">Senha</div>
      <input
        placeholder=" Coloque sua senha aqui"
        type="password"
        name="password"
        [(ngModel)]="password"
        class="form-control"
      />
      <br>
      <button
        (click)="auth.emailSignin(this.email, this.password)"
        class="btn btn-danger btn-primary btn-lg"
      >
        Login with e-mail
      </button>
      &nbsp;
      <button (click)="auth.googleSignin()" class="btn btn-primary btn-lg active">
        Login with Google
      </button>
    </fieldset>
  </form>
</div>

<div *ngIf="auth.error" style="color: red" class="container">
  {{ auth.error }}
</div>
<div *ngIf="auth.user">
  Logged as <b>{{ auth.user.email }}</b> &nbsp;
  <button (click)="auth.signOut()" class="btn btn-outline-secondary">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-box-arrow-in-left"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"
      />
      <path
        fill-rule="evenodd"
        d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"
      />
    </svg>
  </button>
  <hr />

  <h2>My list of tasks</h2>
  <div>Task</div>
  <div><input [(ngModel)]="formNewTask" class="form-control" /></div>
  <div>Description</div>
  <div>
    <input type="text" [(ngModel)]="formNewDescription" class="form-control" />
    <button (click)="addItem()" class="btn btn-outline-success">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-plus-lg"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
        />
      </svg>
    </button>
  </div>
  <br />
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Task</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list | async">
        <td [title]="'chave: ' + item.key">{{ item.task }}</td>
        <td>{{ item.description }}</td>
        <td>
          <button (click)="deleteItem(item.key)" class="btn btn-outline-danger">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash3-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"
              />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
