* {
  margin: 3px;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  color: darkslategrey;
  margin-left: 8px;
  margin-top: 10px;
  text-align: center;
}

legend {
  text-align: center;
  font-weight: 700;
}

.mb-3 {
  margin: 0;
}