* {
  margin: 1%;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  color: darkslategrey;
  margin-left: 8px;
  margin-top: 10px;
  text-align: center;
  font-weight: 800;
}

legend {
  text-align: center;
  font-weight: 700;
}

table {
  vertical-align: middle;
}

thead {
  text-align: center;
  color: #6f4e37;
  font-weight: 600;
  vertical-align: middle;
}

td {
  text-align: center;
  color: #000;
}
